nav#footer-nav
  .container.navbar
    ul.nav-items
      li.nav-item
        a(href="./") Home
      li.nav-item 
        a(href="./about") About
      li.nav-item 
        a(href="./portfolio") Portfolio
      li.nav-item 
        a(href="./contact") Contact