#header-wrapper.skewed
  .top.layer
    .content-wrap
      .brand
        a(href="./").logo
          img(src="/images/Externull-logo2-final-1000.png", alt="Externull_logo", width="300px")
      .content-body
        h2 Web
        p Life today seems to move faster than ever, and keeping your online presence up-to-date can seem like an impossible task. Externull Web partners with our clients to provide straight forward services tailored to meet your needs.
  .bottom.layer
    .content-wrap
      .brand
        a(href="./").logo
          img(src="/images/Externull-logo2-final-inverted-1000.png", alt="Externull_logo", width="300px")
      .content-body
        h2 Records
        p Music is a parallel passion, and we thrive on creating music that moves us. Externull Records is a homegrown project, and we work side by side with our musicians and artists to bring their dreams to life
  .handle
  .scroll-arrow
    a(href="#main-nav")#scroll-arrow
      img(src="/images/icons8-sort-down-80.png", alt="scroll-down-arrow")