#header-wrapper.skewed
  .top.layer
    .content-wrap
      .brand
        a(href="./").logo
          img(src="/images/Externull-logo2-final-1000.png", alt="Externull_logo", width="300px")
      .content-body
        h2 Web
        p Lorem ipsum dolor sit amet, usu habeo luptatum percipitur ea, eam cu erant possim iuvaret, est ne sint minim petentium. Est alii solum summo ad, clita senserit ut vix, veniam percipitur quo et. Et vel legendos euripidis dissentias. Dico idque mandamus vix ei, eum feugiat nominati ut. Laoreet inermis fierent ea nec, sea at prompta officiis.
  .bottom.layer
    .content-wrap
      .brand
        a(href="./").logo
          img(src="/images/Externull-logo2-final-inverted-1000.png", alt="Externull_logo", width="300px")
      .content-body
        h2 Records
        p Lorem ipsum dolor sit amet, usu habeo luptatum percipitur ea, eam cu erant possim iuvaret, est ne sint minim petentium. Est alii solum summo ad, clita senserit ut vix, veniam percipitur quo et. Et vel legendos euripidis dissentias. Dico idque mandamus vix ei, eum feugiat nominati ut. Laoreet inermis fierent ea nec, sea at prompta officiis.
  .handle
  .scroll-arrow
    a(href="#main-nav")#scroll-arrow
      img(src="/images/icons8-sort-down-80.png", alt="scroll-down-arrow")