.nav-wrapper#nav-wrapper
  nav.navbar#main-nav
    .brand
      a(href="./").logo
        img(src="../images/Externull-logo2-final-inverted-1000.png")
    .container
      ul.nav-items
        li.nav-item
          a(href="./") Home
        li.nav-item 
          a(href="./about") About
        li.nav-item 
          a(href="./portfolio") Portfolio
        li.nav-item 
          a(href="./contact") Contact